@font-face {
  font-family: "Georgia-regular";
  src: url(../assets/fonts/georgia/georgia-regular.ttf);
}
@font-face {
  font-family: "Georgia-bold";
  src: url(../assets/fonts/georgia/georgia-bold.ttf);
}
@font-face {
  font-family: "Georgia-italic";
  src: url(../assets/fonts/georgia/georgia-italic.ttf);
}
@font-face {
  font-family: "Arial-regular";
  src: url(../assets/fonts/arial/arial-regular.ttf);
}
@font-face {
  font-family: "Arial-italic";
  src: url(../assets/fonts/arial/arial-italic.ttf);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
}

body {
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

#burger {
  display: none;
}

.background {
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.header {
  display: flex;
  align-items: center;
  height: 120px;
  justify-content: space-between;
  height: 120px;
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  width: 100%;
}
.header .logo .logo__title {
  font-family: Georgia-regular;
  font-size: 32px;
  letter-spacing: 0.06em;
  color: #545454;
  line-height: 44px;
}
.header .logo .logo__subtitle {
  font-family: Arial-regular;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1em;
  padding-left: 0.3rem;
  color: #292929;
}
.header .menu {
  display: flex;
  justify-items: center;
}
.header .menu .link {
  margin-left: 35px;
  font-family: Arial-regular;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #545454;
  letter-spacing: 0.003rem;
}
.header .menu .menu__link-pets {
  padding-bottom: 0.2rem;
  border-bottom: 3px solid #f1cdb3;
  color: #292929;
}

.pets {
  min-height: 1342px;
  background: #f6f6f6;
  display: flex;
  max-width: 1280px;
  margin: auto;
}

.pets-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px auto 100px;
  justify-content: space-between;
}
.pets-content .pets__heading {
  font-family: Georgia-regular;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.pets__cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 930px;
  align-items: center;
}

.pets__image {
  position: relative;
  width: 270px;
  height: 270px;
  overflow: hidden;
}
.pets__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pets__card {
  background: #fafafa;
  border-radius: 9px;
  width: 270px;
  height: 435px;
}
.pets__card:hover {
  background: #fff;
  cursor: pointer;
}
.pets__card .pets__name {
  text-align: center;
  font-family: Georgia-regular;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 28px;
}
.pets__card .pets__button-secondary {
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  padding: 15px 45px;
  white-space: nowrap;
  width: 187px;
  height: 52px;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia-regular;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.pets__card .pets__button-secondary:hover {
  background: #e9b188;
}

.pets__navigator {
  display: flex;
  height: 52px;
}
.pets__navigator .pets__button-paginator {
  padding: 23px 19px;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  max-width: 52px;
  max-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #292929;
  margin: auto 10px;
  font-size: 20px;
  letter-spacing: 0.06em;
  width: 100%;
  height: 100%;
}
@media (max-width: 372px) {
  .pets__navigator .pets__button-paginator {
    padding: 15px 10px;
    font-size: 10px;
    height: 30px;
  }
}
.pets__navigator .pets__button-inactive {
  border-color: #cdcdcd;
  color: #cdcdcd;
}
.pets__navigator .pets__button-active {
  background: #f1cdb3;
}
.pets__navigator .pets__button:hover:hover {
  background: #fff;
  cursor: pointer;
}

.footer {
  background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
  height: 350px;
  display: flex;
  max-width: 1280px;
  margin: auto;
}
.footer .wrapper {
  margin-top: 40px;
  margin-bottom: 0;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  width: 100%;
}
.footer__content a {
  font-family: Georgia-regular;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.footer__contacts {
  width: 278px;
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
}

.footer__title-1,
.footer__title-2 {
  font-family: Georgia-regular;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.059em;
  color: #ffffff;
}

.footer__location {
  width: 302px;
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
}

.footer__icon {
  margin-right: 1.2rem;
}

.footer__mail,
.footer__phone,
.footer__boston,
.footer__london {
  display: flex;
  align-items: center;
}

.footer__image {
  max-width: 300px;
  max-height: 310px;
  width: 25vw;
  height: 25vw;
  align-self: flex-end;
}

/*


MEDIA REQUESTS:


*/
/*

|----------768----------|

*/
@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 768px;
  }

  .background {
    background: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
  }

  .header {
    height: 60px;
    margin: 30px;
    max-width: 708px;
    width: 95%;
  }
}
@media screen and (max-width: 768px) and (max-width: 709px) {
  .header {
    margin-left: 1px;
  }
  .header .logo .logo__title {
    font-size: 1.2em;
    line-height: 100%;
  }
  .header .logo .logo__subtitle p {
    font-size: 0.2em;
    line-height: 50%;
  }
}
@media screen and (max-width: 768px) and (max-width: 709px) and (max-width: 410px) {
  .header .logo .logo__subtitle p {
    font-size: 2px;
    line-height: 50%;
  }
}
@media screen and (max-width: 768px) and (max-width: 709px) {
  .header .menu .link {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 768px) and (max-width: 410px) {
  .header {
    margin-left: 0;
  }
  .header .logo .logo__title {
    font-size: 1.5em;
    line-height: 100%;
  }
  .header .menu .link {
    font-size: 0.6em;
    margin-left: 1px;
  }
}
@media screen and (max-width: 768px) {
  .header .logo .logo__subtitle {
    line-height: 24.95px;
    padding-left: 0.3em;
  }
}
@media screen and (max-width: 768px) {
  .pets {
    height: 1733px;
  }
}
@media screen and (max-width: 768px) {
  .scarlett,
.freddie {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .pets-content {
    height: 1603px;
    justify-content: start;
  }
}
@media screen and (max-width: 768px) {
  .pets__cards-container {
    justify-content: center;
    height: 1365px;
    align-items: center;
    -moz-column-gap: 2.5em;
         column-gap: 2.5em;
  }
}
@media screen and (max-width: 768px) and (max-width: 580px) {
  .pets__cards-container {
    overflow-y: scroll;
  }
}
@media screen and (max-width: 768px) {
  .pets__card {
    margin-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  .pets__navigator {
    position: relative;
    top: 70px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    min-height: 639px;
    height: 100%;
  }
  .footer .wrapper {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .footer__content {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    gap: 4.5em;
    margin-top: 0;
  }
  .footer__content .footer__image {
    width: 50vw;
    height: 50vw;
  }
}
@media screen and (max-width: 768px) {
  .footer__contacts {
    position: relative;
    top: 0.9em;
    left: 0.38em;
  }
}
@media screen and (max-width: 768px) {
  .footer__location {
    position: relative;
    top: 0.9em;
    right: 0.38em;
  }
}
@media (max-width: 320px) {
  .background {
    height: 90px;
    width: 320px;
    background: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
  }

  .header {
    height: 30px;
    margin-bottom: 17%;
    display: flex;
    justify-content: space-around;
    gap: 60px;
  }
  .header .logo .logo__title {
    font-size: 32px;
    line-height: 110%;
  }
  .header .logo .logo__subtitle {
    line-height: 24.95px;
    padding-left: 0.3em;
  }
  .header .logo .logo__title {
    position: relative;
    top: 15px;
    left: 3px;
  }
  .header .logo .logo__subtitle {
    position: relative;
    top: 20px;
    left: 3px;
  }
  .header .menu {
    background: url(../assets/icons/Burger-pets.png);
    width: 30px;
    height: 22px;
    position: relative;
    right: 40px;
    position: relative;
    top: 15px;
    right: 30px;
  }
  .header .menu .link {
    display: none;
  }

  .pets {
    height: 1649px;
  }
  .pets .sophia,
.pets .timmy,
.pets .charly {
    display: none;
  }
  .pets .pets__cards-container {
    overflow-y: hidden;
  }
  .pets .pets__heading {
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    position: relative;
    top: -12.5px;
  }
  .pets .pets-content {
    margin: 0 auto;
    position: relative;
    top: 55px;
  }
  .pets .pets__navigator {
    display: flex;
    height: 52px;
    width: 300px;
    position: relative;
    left: -5px;
  }
  .pets .pets__navigator .pets__button-paginator {
    padding: 23px 19px;
    border: 2px solid #f1cdb3;
    box-sizing: border-box;
    border-radius: 100px;
    max-width: 52px;
    max-height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #292929;
    margin: auto 5px;
    font-size: 20px;
    letter-spacing: 0.06em;
    width: 100%;
    height: 100%;
  }

  .footer {
    height: 809px;
    height: 100%;
    width: 320px;
    margin: 0;
    position: static;
  }
  .footer .wrapper {
    margin-top: 0;
  }

  .footer__content {
    margin: 0 auto;
    height: 809px;
    gap: 0;
    width: 300px;
    text-align: center;
  }
  .footer__content br {
    display: none;
  }
  .footer__content .footer__image {
    width: 260px;
    height: 269px;
  }
  .footer__content .footer__title-1 {
    font-size: 25px;
    line-height: 130%;
    position: relative;
    top: 14px;
  }
  .footer__content .footer__title-2 {
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.075em;
    position: relative;
    bottom: 8px;
    left: 2px;
  }
  .footer__content .footer__contacts {
    position: static;
    top: 0.9em;
    left: 0.38em;
  }
  .footer__content .footer__contacts .footer__mail {
    display: block;
  }
  .footer__content .footer__contacts .footer__mail img {
    position: relative;
    top: 5px;
  }
  .footer__content .footer__contacts .footer__phone {
    display: block;
  }
  .footer__content .footer__contacts .footer__phone img {
    position: relative;
    top: -5px;
  }
  .footer__content .footer__contacts .footer__phone .footer__text-phone {
    position: relative;
    bottom: 15px;
  }
  .footer__content .footer__location {
    position: static;
    top: 0.9em;
    right: 0.38em;
  }
  .footer__content .footer__boston,
.footer__content .footer__london {
    position: relative;
    top: -20px;
  }
  .footer__content .footer__boston {
    top: -15px;
  }
  .footer__content .footer__boston .footer__boston-address {
    position: relative;
    right: 8px;
  }
}/*# sourceMappingURL=pets.css.map */