@font-face {
  font-family: "Georgia-regular";
  src: url(../assets/fonts/georgia/georgia-regular.ttf);
}
@font-face {
  font-family: "Georgia-bold";
  src: url(../assets/fonts/georgia/georgia-bold.ttf);
}
@font-face {
  font-family: "Georgia-italic";
  src: url(../assets/fonts/georgia/georgia-italic.ttf);
}
@font-face {
  font-family: "Arial-regular";
  src: url(../assets/fonts/arial/arial-regular.ttf);
}
@font-face {
  font-family: "Arial-italic";
  src: url(../assets/fonts/arial/arial-italic.ttf);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
$width-wrapper: 1200px;

body {
  width: 1280px;
  margin: auto;
}
.wrapper {
  width: $width-wrapper;
  margin: auto;
}
.top-gradient {
  height: 908px;
  background: url(noise_lines_transparent@2X.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%) #211f20;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    align-items: center;
    height: calc(0.1 * $width-wrapper);
    justify-content: space-between;
    padding-top: calc(0.1 * $width-wrapper) * 0.5;
    .logo {
      .logo__title {
        font-family: Georgia-regular;
        font-size: 32px;
        letter-spacing: 0.06em;
        color: #f1cdb3;
        line-height: 44px;
      }
      .logo__subtitle {
        font-family: Arial-regular;
        font-size: 13px;
        line-height: 23px;
        letter-spacing: 0.1em;
        padding-left: 0.3rem;
        color: #ffffff;
      }
    }
    .menu {
      display: flex;
      justify-items: center;
      .link {
        padding-left: 35px;
        font-family: Arial-regular;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        color: #cdcdcd;
        letter-spacing: 0.003rem;
      }
      .menu__link-about {
        padding-left: 0;
        padding-bottom: 0.2rem;
        border-bottom: 3px solid #f1cdb3;
        color: #fafafa;
      }
    }
  }

  .wrapper {
    margin-top: 0;
  }

  .start-screen {
    display: flex;
    margin-bottom: 0;
    justify-content: space-between;
    align-items: center;
    .start-screen__content {
      display: flex;
      flex-direction: column;
      height: 322px;
      justify-content: space-between;
      position: relative;
      bottom: 2.5rem;
    }
    .start-screen__heading {
      font-family: Georgia-regular;
      font-size: 44px;
      line-height: 130%;
      color: #ffffff;
      margin: 0;
    }
    .start-screen__subheading {
      font-family: Arial-regular;
      font-size: 15px;
      line-height: 160%;
      color: #cdcdcd;
    }
    .start-screen__button {
      padding: 15px 45px;
      width: 207px;
      background: #f1cdb3;
      border-radius: 100px;
      a {
        font-family: Georgia-regular;

        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
        white-space: nowrap;
        color: #292929;
      }
    }
  }
}
.about {
  height: 588px;
  display: flex;
}
.about__about-content {
  display: flex;
  margin: auto;
  margin-left: 14.8%;
  .about__text {
    display: flex;
    flex-direction: column;
    margin-left: 4.4rem;
    margin-top: 0.9rem;
    .about__heading {
      font-family: Georgia-regular;
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: #545454;
      padding-bottom: 25px;
    }
    .about__subheading-1 {
      font-family: Arial-regular;
      font-size: 15px;
      line-height: 160%;
      color: #4c4c4c;
      padding-bottom: 25px;
    }
    .about__subheading-2 {
      font-family: Arial-regular;
      font-size: 15px;
      line-height: 160%;

      color: #4c4c4c;
    }
  }
  .about__image {
    margin-bottom: 1rem;
    margin-right: 3rem;
  }
}

.pets {
  height: 877px;
  background: #f6f6f6;
  display: flex;
}
.pets-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px auto 100px;
  justify-content: space-between;
  .pets__heading {
    font-family: Georgia-regular;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
  }
  .pets__slider {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    .pets__button-arrow {
      padding: 23px 19px;
      border: 2px solid #f1cdb3;
      box-sizing: border-box;
      border-radius: 100px;
      width: 52px;
      height: 52px;

      display: flex;
      align-items: center;
      justify-content: center;
      a {
        color: #292929;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
    }
    .pets__card {
      background: #fafafa;
      border-radius: 9px;
      width: 270px;
      height: 435px;
      text-align: center;
      .pets__name {
        font-family: Georgia-regular;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: #545454;
        margin: 25px;
      }
      .pets__button-secondary {
        border: 2px solid #f1cdb3;
        border-radius: 100px;
        padding: 15px 45px;
        white-space: nowrap;
        width: 187px;
        height: 52px;
        margin: 30px auto;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          font-family: Georgia-regular;
          font-size: 17px;
          line-height: 130%;
          letter-spacing: 0.06em;
          color: #292929;
        }
      }
    }
    .jennifer {
      margin: 0 40px;
    }
  }
  .pets__button-primary {
    background: #f1cdb3;
    border-radius: 100px;
    padding: 15px 45px;
    a {
      font-family: Georgia-regular;
      font-size: 17px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: #292929;
    }
  }
}

.help {
  height: 611px;
  display: flex;
}
.help-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 100px;
  .help__heading {
    font-family: Georgia-regular;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
  }
  .help__list {
    // margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .icon-container {
      margin: 60px;
      margin-bottom: 0;
    }
    img {
      width: 60px;
      height: 60px;
      margin-bottom: 1.5rem;
    }
    .help__text {
      font-family: Georgia-regular;
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
      color: #545454;
    }
  }
}
