@font-face {
  font-family: "Georgia-regular";
  src: url(../assets/fonts/georgia/georgia-regular.ttf);
}
@font-face {
  font-family: "Georgia-bold";
  src: url(../assets/fonts/georgia/georgia-bold.ttf);
}
@font-face {
  font-family: "Georgia-italic";
  src: url(../assets/fonts/georgia/georgia-italic.ttf);
}
@font-face {
  font-family: "Arial-regular";
  src: url(../assets/fonts/arial/arial-regular.ttf);
}
@font-face {
  font-family: "Arial-italic";
  src: url(../assets/fonts/arial/arial-italic.ttf);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  width: 1280px;
  margin: auto;
}

.wrapper {
  width: 1200px;
  margin: auto;
}

.top-gradient {
  height: 908px;
  background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%) #211f20;
  display: flex;
  flex-direction: column;
}
.top-gradient .header {
  display: flex;
  align-items: center;
  height: 120px;
  justify-content: space-between;
  padding-top: 60px;
}
.top-gradient .header .logo .logo__title {
  font-family: Georgia-regular;
  font-size: 32px;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  line-height: 44px;
}
.top-gradient .header .logo .logo__subtitle {
  font-family: Arial-regular;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1em;
  padding-left: 0.3rem;
  color: #ffffff;
}
.top-gradient .header .menu {
  display: flex;
  justify-items: center;
}
.top-gradient .header .menu .link {
  padding-left: 35px;
  font-family: Arial-regular;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #cdcdcd;
  letter-spacing: 0.003rem;
}
.top-gradient .header .menu .menu__link-about {
  padding-left: 0;
  padding-bottom: 0.2rem;
  color: #fafafa;
}
.top-gradient .wrapper {
  margin-top: 0;
}
.top-gradient .start-screen {
  display: flex;
  margin-bottom: 0;
  justify-content: space-between;
  align-items: center;
}
.top-gradient .start-screen .start-screen__content {
  display: flex;
  flex-direction: column;
  height: 322px;
  justify-content: space-between;
  position: relative;
  bottom: 2.5rem;
}
.top-gradient .start-screen .start-screen__heading {
  font-family: Georgia-regular;
  font-size: 44px;
  line-height: 130%;
  color: #ffffff;
  margin: 0;
}
.top-gradient .start-screen .start-screen__subheading {
  font-family: Arial-regular;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
}
.top-gradient .start-screen .start-screen__button {
  padding: 15px 45px;
  width: 207px;
  background: #f1cdb3;
  border-radius: 100px;
  font-family: Georgia-regular;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  white-space: nowrap;
  color: #292929;
}
.top-gradient .start-screen .start-screen__button:hover {
  background: #e9b188;
}

.about {
  height: 588px;
  display: flex;
}

.about__about-content {
  display: flex;
  margin: auto;
  margin-left: 14.8%;
}
.about__about-content .about__text {
  display: flex;
  flex-direction: column;
  margin-left: 4.4rem;
  margin-top: 0.9rem;
}
.about__about-content .about__text .about__heading {
  font-family: Georgia-regular;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  padding-bottom: 25px;
}
.about__about-content .about__text .about__subheading-1 {
  font-family: Arial-regular;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
  padding-bottom: 25px;
}
.about__about-content .about__text .about__subheading-2 {
  font-family: Arial-regular;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}
.about__about-content .about__image {
  margin-bottom: 1rem;
  margin-right: 3rem;
}

.pets {
  height: 877px;
  background: #f6f6f6;
  display: flex;
}

.pets-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px auto 100px;
  justify-content: space-between;
}
.pets-content .pets__heading {
  font-family: Georgia-regular;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.pets-content .pets__slider {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.pets-content .pets__slider .pets__button-arrow {
  padding: 23px 19px;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #292929;
}
.pets-content .pets__slider .pets__button-arrow:hover {
  background: #fff;
}
.pets-content .pets__slider .pets__card {
  background: #fafafa;
  border-radius: 9px;
  width: 270px;
  height: 435px;
  text-align: center;
}
.pets-content .pets__slider .pets__card:hover {
  background: #fff;
  cursor: pointer;
}
.pets-content .pets__slider .pets__card:hover .pets__button-secondary {
  background: #f1cdb3;
}
.pets-content .pets__slider .pets__card .pets__name {
  font-family: Georgia-regular;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 25px;
}
.pets-content .pets__slider .pets__card .pets__button-secondary {
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  padding: 15px 45px;
  white-space: nowrap;
  width: 187px;
  height: 52px;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia-regular;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.pets-content .pets__slider .pets__card .pets__button-secondary:hover {
  background: #e9b188;
}
.pets-content .pets__slider .jennifer {
  margin: 0 40px;
}
.pets-content .pets__button-primary {
  background: #f1cdb3;
  border-radius: 100px;
  padding: 15px 45px;
  font-family: Georgia-regular;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.pets-content .pets__button-primary:hover {
  background: #e9b188;
}

.help {
  height: 611px;
  display: flex;
}

.help-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 100px;
}
.help-content .help__heading {
  font-family: Georgia-regular;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.help-content .help__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.help-content .help__list .icon-container {
  margin: 60px;
  margin-bottom: 0;
}
.help-content .help__list img {
  width: 60px;
  height: 60px;
  margin-bottom: 1.5rem;
}
.help-content .help__list .help__text {
  font-family: Georgia-regular;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation {
  height: 462px;
  display: flex;
  background: #f6f6f6;
}

.donation-content {
  display: flex;
  justify-content: center;
  margin: 80px auto 100px;
}
.donation-content .donation__image {
  position: relative;
  left: -15px;
  padding: 10px 15px;
}
.donation-content .donation__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 25px;
}
.donation-content .donation__content .donation__heading {
  font-family: Georgia-regular;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation-content .donation__content .donation__subheading {
  font-family: Georgia-regular;
  font-size: 15px;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation-content .donation__content .donation__credit-card {
  display: flex;
  padding: 10px 15px;
  background: #f1cdb3;
  border-radius: 9px;
  justify-content: space-between;
  width: 349px;
  height: 43px;
}
.donation-content .donation__content .donation__credit-card:hover {
  background: #e9b188;
}
.donation-content .donation__content .donation__credit-card .donation__credit-card-icon {
  width: 30px;
  height: 23px;
  color: #292929;
}
.donation-content .donation__content .donation__credit-card .donation__credit-card-number {
  font-family: georgia-regular;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.055em;
  color: #545454;
}
.donation-content .donation__content .donation__info {
  font-family: Arial-italic;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}

.footer {
  background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
  height: 350px;
  display: flex;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.footer__content a {
  font-family: Georgia-regular;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.footer__contacts {
  width: 278px;
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
}

.footer__title-1,
.footer__title-2 {
  font-family: Georgia-regular;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.059em;
  color: #ffffff;
}

.footer__location {
  width: 302px;
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
}

.footer__icon {
  margin-right: 1.2rem;
}

.footer__mail,
.footer__phone,
.footer__boston,
.footer__london {
  display: flex;
  align-items: center;
}

/*


MEDIA REQUESTS:


*/
/*

|----------768----------|

*/
@media screen and (max-width: 768px) {
  body,
.wrapper {
    width: 768px;
  }

  .top-gradient {
    height: 1165px;
    justify-content: space-between;
  }
  .top-gradient .wrapper {
    width: 708px;
  }
  .top-gradient .header {
    height: 60px;
    margin-bottom: 17%;
  }
  .top-gradient .header .logo .logo__subtitle {
    line-height: 24.95px;
    padding-left: 0.3em;
  }
  .top-gradient .header .menu .link {
    padding-left: 35px;
    font-family: Arial-regular;
    font-size: 15px;
    color: #cdcdcd;
    letter-spacing: 0.004em;
  }
  .top-gradient .header .menu .menu__link-about {
    padding-left: 0;
    padding-bottom: 0.2rem;
    border-bottom: 3px solid #f1cdb3;
  }
  .top-gradient .start-screen {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    align-items: center;
  }
  .top-gradient .start-screen img {
    width: 569px;
    height: 593px;
    align-self: end;
  }
  .top-gradient .start-screen .start-screen__content {
    bottom: 6.2rem;
  }
  .top-gradient .start-screen .start-screen__button {
    position: relative;
    left: 7.4em;
  }

  .about {
    height: 1048px;
  }

  .about__about-content {
    flex-direction: column-reverse;
    margin: 1.5rem auto;
    justify-content: space-around;
  }
  .about__about-content .about__text {
    margin-left: 0;
    position: relative;
    left: -0.29em;
  }
  .about__about-content .about__text .about__heading {
    position: relative;
    top: 0.1em;
  }
  .about__about-content .about__image {
    margin-bottom: 2rem;
    margin-right: 0;
    align-self: center;
  }

  .pets-content {
    width: 697px;
  }
  .pets-content .woody {
    display: none;
  }
  .pets-content .pets__slider .pets__left {
    position: relative;
    left: -0.3em;
  }
  .pets-content .pets__slider .pets__right {
    position: relative;
    right: 1.3em;
  }
  .pets-content .pets__slider .pets__card {
    position: relative;
    left: 0.4em;
  }

  .help {
    height: 779px;
  }

  .help-content .help__list {
    justify-content: space-between;
    width: 630px;
    height: 449px;
    margin: auto;
  }
  .help-content .help__list .icon-container {
    margin: 55px 0px 0 0;
    width: 170px;
    position: relative;
    top: -1.3em;
  }

  .donation {
    height: 783px;
  }

  .donation-content {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .donation-content .donation__image {
    width: 505px;
    height: 261px;
    padding: 0;
    left: 0px;
  }
  .donation-content .donation__content {
    height: 282px;
  }

  .footer {
    height: 639px;
  }

  .footer__content {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    gap: 4.5em;
    margin-top: 0;
  }
  .footer__content .footer__image {
    width: 300px;
    height: 310px;
  }

  .footer__contacts {
    position: relative;
    top: 0.9em;
    left: 0.38em;
  }

  .footer__location {
    position: relative;
    top: 0.9em;
    right: 0.38em;
  }
}/*# sourceMappingURL=main.css.map */