.filters {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.filters__wrapper {
  background: rgba(25, 40, 32, 0.521);
  height: 350px;
  width: 520px;
  border: 2px solid #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.filters__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.brands {
  display: flex;
  flex-wrap: wrap;
  background: #0f2c0e3d;
}

.brand {
  width: 40px;
  height: 40px;
  margin: 1rem;
}
.filters__by-value_electric {
  display: flex;
}
.filters__title-range {
  display: inline-block;
  margin-bottom: 1.5rem;
}

.filters__search {
  display: flex;
  justify-content: space-around;
}
.filters__reset {
  display: flex;
  justify-content: space-evenly;
}

#search {
  width: 100%;
  height: 150%;
}